<!doctype html>
<html lang="en">
  <head>
    <meta name="author" content="Ryan Kim" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <title>MonoMuse</title>
  </head>
  <body>
    <header>
      <h1>Exhibitions</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
        <a href="checkout.html">Checkout</a>
      </nav>
    </header>
    <div class="exhibition-1">
      <h3>Exhibition 1: Christopher Nolan</h3>
      <p>
        This exhibition explores the work of Christopher Nolan, a renowned film
        director known for his innovative storytelling and use of technology in
        filmmaking. The exhibition features a collection of Nolan's most iconic
        films, including "Inception," "The Dark Knight," and "Interstellar."
        Visitors can delve into the creative process behind Nolan's films, as
        well as learn about his use of cutting-edge technology to create
        immersive cinematic experiences. The exhibition also highlights Nolan's
        impact on the film industry and his influence on contemporary cinema.
      </p>
    </div>
    <div class="exhibition-2">
      <h3>Exhibition 2: Peter Lik</h3>
      <p>
        This exhibition showcases the work of Peter Lik, an Australian
        photographer known for his landscape photography. The exhibition
        features a collection of Peter Lik's most iconic photographs, including
        images of natural landscapes, seascapes, and cityscapes from around the
        world. Visitors can explore the beauty and diversity of the natural
        world through Peter Lik's lens, as well as learn about his unique
        approach to photography and his use of technology to capture stunning
        images. The exhibition also highlights Peter Lik's impact on the art
        world and his influence on contemporary photography.
      </p>
    </div>
  </body>
  <footer>
    <p>&copy; 2026 MonoMuse. All rights reserved.</p>
  </footer>
</html>
