<!doctype html>
<html lang="en">
  <head>
    <script
      src="https://code.jquery.com/jquery-4.0.0.min.js"
      integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao="
      crossorigin="anonymous"
    ></script>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <meta name="author" content="Ryan Kim" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MonoMuse</title>
  </head>
  <div class="container-explore">
    <body>
      <header class="header">
        <img
          id="logo"
          src="../static/monomuselogo.png"
          alt="MonoMuse Museum Logo"
          width="392px"
          height="67px"
        />
      </header>
      <nav class="nav_bar" id="navbar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a id="cta" href="buytickets.html"><span>Tickets</span></a>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
          ☰
        </a>
        <!-- <a href="checkout.html">Checkout</a> -->
      </nav>
      <main class="main">
        <img
          src="../static/MonoMuseExterior.png"
          alt="Exterior of MonoMuse"
          
        />
        <div class="map-section">
          <div class="map-info">
            <h2>Visit MonoMuse</h2>
            <p>
              <strong>Address:</strong> 221 S Grand Ave, Los Angeles, CA 90012
            </p>
            <p><strong>Hours:</strong> Mon–Sun: 10AM – 6PM</p>
            <p><strong>Contact:</strong> info@monomuse.com</p>
          </div>

          <div id="map"></div>
        </div>
        <h2>Our Mission</h2>
        <p>
          At MonoMuse, our mission is to explore the dynamic relationship
          between art, technology, and human creativity. We are dedicated to
          showcasing innovative exhibitions that challenge traditional notions
          of art and inspire visitors to engage with the transformative power of
          digital innovation. Through immersive experiences, interactive
          installations, and thought-provoking programming, we aim to foster a
          deeper understanding of how technology is shaping culture and everyday
          life. MonoMuse is a space for discovery, creativity, and connection,
          where visitors can explore new perspectives on the role of technology
          in art and society.
        </p>
        <br></br>
        <h2>Milestones</h2>
        <ul>
          <li>
            2020: MonoMuse Grand Opening
          </li>
          <li>
            2021: Launch of the first Metallica-themed interactive exhibition
          </li>
          <li>
            2022: Expansion of immersive experiences, including live performance
            simulations
          </li>
          <li>
            2023: Introduction of global exhibits highlighting Metallica’s
            cultural impact
          </li>
          <li>
            2024: Renovation of digital and multimedia installations for a
            fully immersive museum experience
          </li>
        </ul>
      </main>
      <div class="spotify-section">
        <h2>Listen to Metallica</h2>
        <iframe
          src="https://open.spotify.com/embed/artist/2ye2Wgw4gimLv2eAKyk1NB"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
      <footer>
        <span>&copy;</span>
        <span id="copyYear"></span>
        <span>MonoMuse. All rights reserved.</span>
      </footer>
    </body>
  </div>
</html>
